.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 50%;
    margin: 0 auto;
    padding: 100px 0px;
    .card{
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: white;
        border: 1px solid lightgrey;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        .imgBox{
            flex: 1;
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .contentBox{
            position: relative;
            flex: 1;
            width: 100%;
            height: 100%;
            .name{
                margin: 10px 0px;
                font-weight: 800;
            }
            .address{
                font-size: 14px;
            }
            .tagBox{
                position: absolute;
                left: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                gap: 5px;
                width: fit-content;
                margin: 5px 0px;
                .tag{
                    width: fit-content;
                    padding: 4px 8px;
                    border: 1px solid lightgrey;
                    border-radius: 14px;
                    font-size: 12px;
                }
            }
        }
    }
}